@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
    background-color: #081127;
    font-family: 'Source Sans Pro';
}

.new-gods-intro {
    text-align: center;
    color: #EC8916;
}

.new-gods-review {
    display: flex-inline;
    justify-content: center;
    color: #A1A1A1;
}

.new-gods-review p {
    margin: 0px 60px;
}

div.review-image-center {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin: 20px 0px;
}

div.comment-section {
    color: #EC8916;
    font-size: 20px;
}

div.other-reviews {
    display: flex;
    justify-content: center;
    color: #EC8916;
}

div.other-reviews-film {
    margin: 0% 3%;
}